.container-fluid
  .row-fluid
    %h1 Unvisited Customers

    - if @unvisited_customers.empty?
      (No unvisited customers to show you right now.)
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Company
            %th Primary contact person

        %tbody
          - @unvisited_customers.each do |unvisited_customer|
            -# binding.pry
            %tr
              %td= link_to unvisited_customer.company_name, customer_path(unvisited_customer)
              %td= unvisited_customer.primary_contact_person
    %br
    %br
    = link_to "Back", customers_path
