%h1 New customer

- if current_user.customer_creation_limit < 50
  = render 'form'
- else
  Your daily customer creation limit has been met. Please continue adding customers tomorrow.
%br
%br
= link_to 'Back', customers_path
