%div.hero-unit
  %h1 About Basic CRM
  %br
  %p Basic CRM is a Client Relationship Management tool designed to help you keep track of your client interactions in a more efficient and effective way. Basic CRM is a free tool and always will be.
  %br
  %p
  %small 
    If you wish to find out if you can obtain the source files and build this application out for your own use contact 
    = mail_to "marcacyr@gmail.com", "Marc Cyr" 
    at the link provided.

