$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


$navbarBackgroundHighlight: white;

@import 'bootstrap';

$grayMediumLight: #eaeaea;

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.header-nav ul li {
	color: #fff;
}

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}



.footer {
	margin-top: 50px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.welcomep {
	padding-top: 10px;
}

.footer-left {
	float: left;
	padding-left: 25px;
}

.footer-right {
	float: right;
	padding-right: 25px;
}

.footer-float {
	clear: both;
}

/* Sign-in page */
.sign-in-div {
	margin-top: 50px;
	margin-left: -175px;
}
.submit-button {
	margin-left: 25px;
}
